@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    font-family: -apple-system, Inter, Noto Sans KR, sans-serif;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}