@import url('init.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px;
}

h1 {
    font-size: 45px;
}

form {
    padding: 5px;
    margin: 30px;
}

form input {
    width: 500px;
    height: 40px;
    font-size: 16px;
    border-radius: 3px !important;
}

.sidebar {
    position: absolute;
    top: 15px;
    right: 0;
}

.sidebar a {
    margin-right: 15px;
}

footer {
    position: absolute;
    text-align: center;
    padding: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

footer img {
    height: 90%;
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    .sidebar {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 14px;
    }

    .sidebar a {
        margin: 0;
    }

    .sidebar a:nth-last-child(2) {
        display: none;
    }

    form input {
        width: 90vw;
        height: 35px;
    }

    footer {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 35px;
        margin-bottom: 0;
    }

    h4 {
        font-size: 13px;
    }

    .sidebar {
        font-size: 12px;
    }

    form input {
        font-size: 14px;
        height: 33px;
    }

    footer {
        font-size: 12px;
    }
}